<div class="container bg-light div5">
        <div class="row">
                <div class="col" 
                        style="border-top: 1px dotted #6c757d; 
                        background: white;"
                >
                        <nav class="navbar">
                                <div class="container div6">
                                        <a class="navbar-brand" href="/">
                                                <img src="https://api.hiphopboombox.com/api/uploads/hiphop2.jpeg" alt="" height="40" />
                                        </a>

                                        <div classs="div9">
                                                <a href="/privacy" class="footer_a">
                                                        <%= lang.footer_h2 %>
                                                </a>
                                                <a href="/terms" class="footer_a">
                                                        <%= lang.footer_h3 %>
                                                </a>
                                                <a href="/dmca" class="footer_a">
                                                        <%= lang.footer_h4 %>
                                                </a>
                                                <a href="/eula" class="footer_a">
                                                        <%= lang.footer_h5 %>
                                                </a>
                                        </div>

                                        <div></div>
                                </div>
                        </nav>
                </div>
        </div>
</div>