<div class="container div1 bg-light">
	<div class="row">
		<div class="col-12 col-sm-12 nav1">
			<% myArray.forEach((i, index) => { %>
				<a href="/filter/<%= i.id %>?name=<%= i.name %>" class="nav1_btns"><%= i.name %></a>
			<% }) %>
		</div>
		<hr />
	</div>
</div>